.App {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6f7;
}

body {
  &.disable {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}
